<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>484357899033-bb8tb9cv5gokbrmi6hjsjv69demq152b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484357899033-bb8tb9cv5gokbrmi6hjsjv69demq152b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>484357899033-22kfava8g2dr8fi61sb4gk8m4pdj9is9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBvyPrrjTr_6yJ6mkb0ejCLNvwAUTGRcQI</string>
	<key>GCM_SENDER_ID</key>
	<string>484357899033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.ios.savebucks</string>
	<key>PROJECT_ID</key>
	<string>savebucks-a5aab</string>
	<key>STORAGE_BUCKET</key>
	<string>savebucks-a5aab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484357899033:ios:6ec317c9e183ca299dfb88</string>
</dict>
</plist>